<h1>Listing indices</h1>

<table>
  <tr>
    <th>Name</th>
    <th colspan="2">Rankings</th>
    <th colspan="3">Action</th>
  </tr>

<% @indices.each do |index| %>
  <tr>
    <td><%= index.name %></td>
    <td><%= link_to 'Rankings', rankings_index_path(index) %></td>
    <td><%= link_to 'Top 25', top_25_index_path(index) %></td>
    <td><%= link_to 'Show', index %></td>
    <td><%= link_to 'Edit', edit_index_path(index) %></td>
    <td><%= link_to 'Destroy', index, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Index', new_index_path %>
